<nav class="navbar navbar-inverse mt-3">
  <div class="container-fluid">
    <div class="navbar-header ">
      
    
    <div class="collapse navbar-collapse m-0" id="myNavbar">
      <ul class="nav navbar-nav">
        
        <li><a href="/home">HOME</a></li>
        <li><a href="/tablepage">Table</a></li>
        <li><a href="/cardpage">cards</a></li>
        <li><a href="/listpage">List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"style="justify-content: right; align-items: right">
        <li class="position-absolute top-0 end-0"><a class="position-absolute top-0 end-0" href="/logout"><span class="glyphicon glyphicon-log-in position-absolute top-0 end-0"></span> Log out</a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>

<div class="img mt-0 p-0" style="margin-top: -10px;">
<img style="margin-top: -30px;" src="http://getwallpapers.com/wallpaper/full/3/9/e/490037.jpg" class="img-fluid" alt="Responsive image">
</div>