<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-3/177800/129-512.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/loginSubmit" method="post" role="form" >
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">

   
      <p class="text-danger">{{message}}</p>
     
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>

